<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>Your one stop to get quick and easy ideas for meals as a college student. Have just a random selection of ingredents at the end of the semester? Don't know what you can make with them? Kitchen Assistent wil help you with that.</p>
    <a type="button" class="btn btn-lg btn-default" href="/proveAssignments/prove04"><span class="glyphicon"></span> Start looking up Recipes</a>
    <a type="button" class="btn btn-lg btn-primary" href="/proveAssignments/prove04/products"><span class="glyphicon"></span> Search by ingredient</a>
  </div>
</div>

</body>
</html>
